body {
  font-family: FiraSans;
}

p {
  margin: 0;
  padding: 0;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
:root {
  /* COLORS */
  --black: #000;
  --accent-color: #c2a058;
  --white: #fff;
  --lightgrey: #f4f0f0;

  /* SIZE CONSTS  */
  --icon-size: 32px;
  --header-size: 80px;

  /* FONT SIZE */
  --box_header: 14px;
  --comment: 18px;
  --default: 24px;
  --label: 1.5em;

  /* PADDINGS */
  --padding-sm: 4px;
  --padding-md: 8px;
  --padding-lg: 12px;
  --padding-xl: 16px;
}